* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin: 5rem auto 0;
  width: 80%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

header button {
  margin: 1rem;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

#traditionalBtn {
  background-color: rgba(17, 17, 17, 0.767);
  color: white;
}

#traditionalBtn:hover {
  background-color: rgba(17, 17, 17, 0.507);
  transition: all 300ms ease-out;
}

#electroBtn {
  background-color: rgb(5, 134, 22);
  color: white;
}

#electroBtn:hover {
  background-color: rgba(7, 168, 29, 0.829);
  transition: all 300ms ease-out;
}

#waitingCars {
  margin-bottom: 1.5rem;
}

#fillingStations {
  display: flex;
}

#waitingCars {
  display: flex;
}

.trad-auto,
.e-auto {
  margin: 10px;
  height: 100px;
  width: 75px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

#fillingStations .trad-auto,
#fillingStations .e-auto {
  margin: 10px auto 0;
}

.trad-auto {
  background-color: black;
}

.e-auto {
  background-color: rgb(57, 57, 235);
}

.fa-bolt {
  font-size: 0.8rem;
}

span {
  display: inline-block;
  font-size: 2rem;
  color: white;
}
.gas-station {
  margin: 10px;
  height: 200px;
  width: 150px;
  background-color: grey;
}

.dc {
  margin: 10px;
  height: 200px;
  width: 150px;
  background-color: yellow;
}

.ac {
  margin: 10px;
  height: 200px;
  width: 150px;
  background-color: orange;
}

.traditional,
.fast,
.slow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.station {
  color: black;
  font-size: 1.2rem;
}

/* .grey {
  width: 30px;
  height: 30px;
  background-color: grey;
} */
